/* =======================================================
   PALETA DE COLORES VCM
   ======================================================= */
// Colores Principales
$color-primario: #3534bf;       // Azul oscuro (Usado en el botón Nav)
$color-header: #6893d4;         // Azul claro (Usado en tu Header)
$color-fondo: #0d457a;          // Fondo principal
$color-texto: #000000;          // Texto principal

// Colores de Estados y Urgencia 
$color-exito: #c9c9c9;          // (Botón Enviar)
$color-exito-hover: #76d7c4;     // Color cuando pasas por encima del btn
$color-urgente: #ff4d4d;        // Rojo (Urgencia Alta)
$color-parcial: #ffb84d;    // Naranja (Urgencia Baja / Chat)
$color-consulta: #ffd753;       // Amarillo  (COnsulta baja)
$color-info: #fff3cd;           // Amarillo claro (Campos automáticos)
$color-btn-llamar: #c9c9c9; 
$color-info-soporte: #c9c9c9; 


// Colores Neutros (Bordes y fondos secundarios)
$color-borde: #cccccc;
$color-fondo-input: #e9ecef;
$color-gris-claro: #f1f1f1;

/* =======================================================
   TIPOGRAFÍA Y MEDIDAS
   ======================================================= */
$fuente-base: sans-serif;
$radio-borde: 8px;
$espaciado-base: 2rem;