:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  max-width: none !important; 

  background-color: #e0f4ff; 
}
* {
  box-sizing: border-box;
}